@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .home-button {
        display: inline-block;
        margin-right: 20px;
        padding: 0 32px;
        height: 60px;
        border: 2px solid #5959D8;
        border-radius: 12px;
        font-size: 20px;
        line-height: 60px;
    }


    .background {
        background: linear-gradient(359.71deg, #FFFFFF 0.26%, #F7F8FF 8.31%, #F1F2FF 31%, #FFFFFF 83.81%);
    }

}