html {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

input,
textarea,
button {
  outline: none;
}

i,
em {
  font-weight: normal;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
