@media (min-width: 1280px) and (min-height: 863px) {
  .main {
    margin-top: 100px;
  }
}

@media (min-width: 1280px) and (max-height: 862px) {
  .main {
    margin-top: calc(100vh - 764px);
  }
}

@media (min-width: 1280px) and (max-height: 763px) {
  .main {
    margin-top: 0;
  }
}

@media (min-width: 960px) and (max-width: 1279px) and (min-height: 672px) {
  .main {
    margin-top: 60px;
  }
}

@media (min-width: 960px) and (max-width: 1279px) and (max-height: 671px) {
  .main {
    margin-top: calc(100vh - 612px);
  }
}

@media (min-width: 960px) and (max-width: 1279px) and (max-height: 610px) {
  .main {
    margin-top: 0;
  }
}

@media (min-width: 720px) and (max-width: 959px) and (min-height: 450px) {
  .main {
    margin-top: 30px;
  }
}

@media (min-width: 720px) and (max-width: 959px) and (max-height: 449px) {
  .main {
    margin-top: calc(100vh - 420px);
  }
}

@media (min-width: 720px) and (max-width: 959px) and (max-height: 420px) {
  .main {
    margin-top: 0;
  }
}

@media (max-width: 720px) and (max-height: 700px) {
  $e: calc((700px - 100vh) / 5);

  .button-container {
    margin-top: calc(24px - #{$e} * 2);
    margin-bottom: calc(24px - #{$e} * 2);
  }

  .feature-box {
    margin-bottom: calc(12px - #{$e});
  }
}

@media (max-width: 720px) and (max-height: 670px) {
.button-container {
  margin-top: 12px;
  margin-bottom: 12px;
}

.feature-box {
  margin-bottom: 6px;
}
}
