@media (min-width: 1280px) and (min-height: 900px) {
  .main {
    margin-top: 136px;
  }

  .button-container {
    margin-top: 106px;
    margin-bottom: 142px;
  }
}
@media (min-width: 1280px) and (max-height: 899px) {
  $e: calc((900px - 100vh) / 3);

  .main {
    margin-top: calc(136px - #{$e});
  }

  .button-container {
    margin-top: calc(106px - #{$e});
    margin-bottom: calc(142px - #{$e});
  }
}
@media (min-width: 1280px) and (max-height: 720px) {
  .main {
    margin-top: 76px;
  }

  .button-container {
    margin-top: 46px;
    margin-bottom: 82px;
  }
}

@media (min-width: 960px) and (max-width: 1279px) and (min-height: 680px) {
  .main {
    margin-top: 79px;
  }

  .button-container {
    margin-top: 59px;
    margin-bottom: 78px;
  }
}
@media (min-width: 960px) and (max-width: 1279px) and (max-height: 679px) {
  $e: calc((680px - 100vh) / 3);

  .main {
    margin-top: calc(79px - #{$e});
  }

  .button-container {
    margin-top: calc(59px - #{$e});
    margin-bottom: calc(78px - #{$e});
  }
}
@media (min-width: 960px) and (max-width: 1279px) and (max-height: 560px) {
  .main {
    margin-top: 39px;
  }

  .button-container {
    margin-top: 19px;
    margin-bottom: 38px;
  }
}

@media (min-width: 720px) and (max-width: 959px) and (min-height: 500px) {
  .main {
    margin-top: 31px;
  }

  .button-container {
    margin-top: 46px;
    margin-bottom: 40px;
  }
}
@media (min-width: 720px) and (max-width: 959px) and (max-height: 499px) {
  $e: calc((500px - 100vh) / 3);

  .main {
    margin-top: calc(31px - #{$e});
  }

  .button-container {
    margin-top: calc(46px - #{$e});
    margin-bottom: calc(40px - #{$e});
  }
}
@media (min-width: 720px) and (max-width: 959px) and (max-height: 440px) {
  .main {
    margin-top: 11px;
  }

  .button-container {
    margin-top: 26px;
    margin-bottom: 20px;
  }
}

@media (max-width: 720px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - 32px);
  }
}
