@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .absolute-horizontal-center {
    @apply fixed left-1/2 -translate-x-1/2 transform;
  }

  .nav-bar {
    @apply invisible absolute top-7 -right-2.5 flex flex-col items-center bg-white shadow-[0_2px_20px_rgba(0,0,74,0.1)] z-10;
  }
  .nav-link {
    @apply flex items-center w-36 h-12 sm:ml-14 text-lg opacity-80 bg-white text-sm;
  }
  .link {
    @apply block ml-6 text-black hover:font-bold;
  }

  .btn {
    @apply flex flex-[0_0_48%] h-12 cursor-pointer overflow-hidden;
  }
  .primary-btn {
    @apply flex justify-center items-center w-full h-full border-2 border-primary rounded-xl bg-primary text-white hover:bg-hover hover:border-hover hover:text-primary;
  }
  .default-btn {
    @apply flex justify-center items-center block w-full h-full border-2 border-primary rounded-xl text-primary hover:bg-hover hover:border-hover hover:text-primary;
  }

  .feature-box {
    @apply flex flex-[0_0_48%] flex-col justify-center items-center mb-3 py-2.5 bg-white shadow-mvm rounded-xl box-border sm:mb-0;
  }

  .background {
    background: linear-gradient(
      359.71deg,
      #ffffff 0.26%,
      #f7f8ff 8.31%,
      #f1f2ff 31%,
      #ffffff 83.81%
    );
  }

  @screen sm {
    .nav-bar {
      @apply visible flex flex-row justify-between relative top-0 right-0 m-0 w-[350px] border-opacity-0 shadow-none;
    }
    .nav-link {
      @apply justify-center m-0 w-[90px] text-lg;
    }
    .link {
      @apply m-0;
    }

    .btn {
      @apply text-sm;
    }

    .feature-box {
      @apply flex-[0_0_23%] py-3;
    }
  }

  @screen md {
    .btn {
      @apply flex-[0_0_47%] h-[60px];
    }

    .feature-box {
      @apply flex-[0_0_23%] py-4;
    }
  }

  @screen lg {
    .btn {
      @apply flex-[0_0_47%] h-[60px] text-xl;
    }

    .feature-box {
      @apply flex-[0_0_23%] py-[30px];
    }
  }
}

@media (min-width: 1280px) and (min-height: 860px) {
  .main {
    margin-top: 100px;
  }
}

@media (min-width: 1280px) and (max-height: 859px) {
  .main {
    margin-top: calc(100vh - 764px);
  }
}

@media (min-width: 1280px) and (max-height: 763px) {
  .main {
    margin-top: 0;
  }
}

@media (min-width: 960px) and (max-width: 1279px) and (min-height: 660px) {
  .main {
    margin-top: 60px;
  }
}

@media (min-width: 960px) and (max-width: 1279px) and (max-height: 659px) {
  .main {
    margin-top: calc(100vh - 602px);
  }
}

@media (min-width: 960px) and (max-width: 1279px) and (max-height: 600px) {
  .main {
    margin-top: 0;
  }
}

@media (min-width: 720px) and (max-width: 959px) and (min-height: 450px) {
  .main {
    margin-top: 30px;
  }
}

@media (min-width: 720px) and (max-width: 959px) and (max-height: 449px) {
  .main {
    margin-top: calc(100vh - 420px);
  }
}

@media (min-width: 720px) and (max-width: 959px) and (max-height: 420px) {
  .main {
    margin-top: 0;
  }
}

@media (max-width: 720px) and (max-height: 700px) {
  $e: calc((700px - 100vh) / 5);

  .button-container {
    margin-top: calc(24px - #{$e} * 2);
    margin-bottom: calc(24px - #{$e} * 2);
  }

  .feature-box {
    margin-bottom: calc(12px - #{$e});
  }
}

@media (max-width: 720px) and (max-height: 676px) {
  .button-container {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .feature-box {
    margin-bottom: 6px;
  }
}

